@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

:root{
    --black-color : #000;
    --text-color: #fff;
    --pitch-color:#f2d689;
}

html{
    scroll-behavior: smooth;
}

body{
    background: var(--black-color);
    color: var(--text-color);

}


#header{
    width:100%;
    height: 100vh;
    /* background-image: url(images/sujata.png); */
    background-size: cover;
    background-position: center;
    /* transform: scaleX(-1); */
}

.container{
    padding:10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    font-size:40px;
}


a{
    text-decoration: none;
    color: var(--text-color);
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px
}

nav ul li a{
    color:var(--text-color);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content:'';
    width:0;
    left:0;
    bottom:0;
    position: absolute;
    height: 3px;
    background:var(--pitch-color);
    transition: .5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
    
}
.header-text h1{
    margin-top: 15px;
    font-size: 60px;

}

.multiple-text{
    color:var(--pitch-color)
}

.name{
    color: var(--pitch-color);
}


/* -------about------- */

#about{
    padding: 80px 0;
    color:#ababab;
}

.row{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}


/* .about-col-1{
    flex-basis: 35%;
} */

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    margin: 0 auto;
}

.about-col-2{
    flex-basis: 100%;

}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:var(--text-color);
}


.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}

.tab-links{
    margin-right:50px;
    font-size: 18px;
    font-weight:500;
    cursor: pointer;
    position: relative;
}


.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--pitch-color);
    left:0;
    bottom:0;
    position: absolute;
    transition: .5s;
}

.tab-links.active-link::after{
    width:50%;
}


.tab-contents ul li{
    list-style: none;
    margin:10px 0;

}

.tab-contents ul li span{
    font-size: 14px;
    color:var(--pitch-color)
}

.tab-contents{
    display: none;
    height: 200px;
}

.tab-contents.active-tab{
    display: block;
}

.border{
    border: 1px solid red;
}


/* -----services------ */



#services
{
    padding:30px 0;
    position: relative;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;

}

.services-list div{
    background:#262626;
    padding:40px;
    font-size:13px;
    font-weight:300;
    border-radius: 10px;
    transition:background .5s , transform .5s;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration:none;
    color: var(--text-color);
    font-size:12px;
    margin-top:20px;
    display: inline-block;
}


.services-list div:hover{
    background-color: #f46c29;
    transform: translateY(-10px);
}


/* ----portfolio------ */
#portfolio{
    padding:50px 0;
}


.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position:relative;
    overflow: hidden;

}

.work-1{
    
    display: flex;
    align-items: center;
    justify-self: center;
    flex-wrap: wrap;
    gap:10px;

}

.download-resume{
    
    padding:10px 20px;
    align-items: center;
    background-color: #262626;
    color: var(--text-color);
    text-decoration: none;
    border-radius: 10px;
    transition: background .5s , transform .5s;
}


.download-resume:hover{
    background: #f46c29;
    transform: translateY(-10px);

}


/* ----contact------ */

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}


.contact-left p i{
    color:var(--pitch-color);
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top:30px
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color:var(--pitch-color);
    transform: translateY(-5px)
}

.submit{
    border: none;
    cursor: pointer;
}

.contact-right form{
    width: 100%;
}

form input,form textarea{
    width: 100%;
    border:0;
    outline:none;
    background: #262626;
    padding:15px;
    margin:15px 0;
    color:var(--text-color);
    font-size: 18px;
    border-radius: 6px;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top:20px;
}

.copyright i{
    color: #f2d689;
}

nav .fas{
    display: none;
}

@media only screen and (max-width:600px){
    #header{
        /* background-image: url(images/); */
    }

    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1{
        font-size:30px;
    }

    nav .fas{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background:var(--pitch-color) ;
        position: fixed;
        top:0;
        right: -200px;
        width:200px;
        height: 100vh;
        padding-top: 50px;
        z-index:2;
        transition: ease-in-out .5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fas{
        position:absolute;
        top:25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title{
        font-size: 40px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom:30px ;
    }

    .about-col-2{
        font-size: 14px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    .copyright{
        font-size: 14px;
    }
}


#msg{
    color:#f2d689;
    margin-top:40px;
    display: block;
}


.social-media-header{
    display: flex;
    gap:30px;
    margin-top:23px;
}

.social-media-header a{
    border:1px solid var(--pitch-color);
    padding:10px 20px;
    border-radius: 50%;
    transition:ease-in-out .3s ;
    color: #ababab;
    text-align: center;
}

.social-media-header a i{
    
}


.social-media-header a:hover{
    box-shadow: 0 0 10px rgba(205, 181, 116, .5);
    color: #fff;
    background: #f2d689;
}


/* <------interview questions -------> */

.interview-questions{
    margin-top: 66px;
}

.question{
    text-align: center;
    cursor: pointer;
    font-size: 2rem;
    transition: color .5s;
}

.question:hover{
    color: #f46c29;
}





/* certificate */

.certificate-img-container

{
    width: 90%;
    margin: 0 auto;
    height: 400px;
    
}

.certificate-img-container img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;

}

#certificate h1{
    width: 60%;
    margin: 0 auto;
   text-align: center;
   cursor: pointer;
}


